.DS_Store
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/
*.duckdb
*.duckdb.wal

dbt_prisoners/target/
dbt_prisoners/logs/
dbt_prisoners/.user.yml
logs/

dagster_home/
.tmp_dagster_home_*/
.env
